name: CI

on:
  pull_request:
    branches: ["master"]
  push:
    branches: ["master"]

jobs:
  arch-gcc:
    runs-on: ubuntu-latest
    container: archlinux:latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          pacman -Syu --noconfirm --needed \
            base-devel \
            git \
            cmake \
            ninja \
            gcc \
            clang \
            lld \
            pkgconf
      - name: Test (GCC)
        env:
          CMAKE_CXX_COMPILER: g++
        run: ./scripts/test.sh

  arch-clang:
    runs-on: ubuntu-latest
    container: archlinux:latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          pacman -Syu --noconfirm --needed \
            base-devel \
            git \
            cmake \
            ninja \
            gcc \
            clang \
            lld \
            pkgconf
      - name: Test (Clang)
        env:
          CMAKE_CXX_COMPILER: clang++
        run: ./scripts/test.sh

  nixos:
    runs-on: [self-hosted, linux, x64, nixos]
    steps:
      - uses: actions/checkout@v4
      - name: Test (Nix)
        run: nix develop -c ./scripts/test.sh
